body {
	background-color: black;
	color: white;
	font-family: Verdana;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-weight: normal;
}

h2 {
	font-size: 42px;
	font-weight: 300;
}

.linkage {
	color: aquamarine;
	font-size: 16px;
}

.grayp {
	color: gray;
	font-size: 21px;
}

.copyright {
	text-align: right;
}